body{
    background-color: black;
}
.all{
    background-color: rgb(37, 37, 37);
    height: 200%;
    width: 90%;
    position: absolute;
    left: 5%;
    right: 5%;
    border: gray solid 1px;
}
/*                                                HEAD*/
.head{
    width: 100%;
    height: 5%;
    background-color: rgb(53, 61, 224);
    border-bottom: gray solid 1px;
}
.no_background{
    background-color: inherit;
    border: 0;
}
#config{
    color: white;
    font-size: 200%;
    position: absolute;
    right: 3%;
    top: 0.75%;
    cursor: pointer;
    outline: 0;
}
/*                                              TEXT*/
.rest{
    font-size: 120%;
}

.text{
    background-color: black;
    color: white;
    width: 90%;
    height: 22.5%;
    position: absolute;
    top: 11.25%;
    left: 5%;
    resize: none;
    font-size: inherit;
}
#txt{
    font-family: arial;
    font-size: 12px;
}
/*                                                                 BUTTONS*/
.button{
    text-align: center;
    font-size: inherit;
    cursor: pointer;
    background-color: rgb(110, 110, 248);
    border: 0;
    border-radius: 28px;
    color: white;
    padding: 7px;
    outline: 0;
}.button:active{
    border: black solid 2px;
}.button:hover{
    background-color: rgb(190, 190, 255);
}

/*                                                               SIMPLE OPTIONS POSITIONS*/

#erase{
    position: absolute;
    top: 7%;
    left: 6%;
}
#paste{
    position: absolute;
    top: 7%;
    left: 25%;
}
#copy{
    position: absolute;
    top: 7%;
    right: 8%;
}



#copied{
    font-size: 12px;
    color: black;
    width: 15%;
    height: 3%;
    background-color: white;
    border: black solid 1px;
    border-radius: 8px;
    position: absolute;
    top: 8.75%;
    left: 86%;
    display: none;
}

/*                                                                           COUNTER*/

.counter{
    font-size: inherit;
    position: absolute;
    top: 34.25%;
    left: 12%;
    background-color: rgb(34, 34, 34);
    border: gray solid 1px;
    color: white;
    vertical-align: middle;
    outline: 0;
    text-align: left;
    line-height: 5%;
}#char{
    left: 25%;
}

/*                                                                             OPTIONS*/

#correct{
    position: absolute;
    top: 35%;
    left: 70%;
    width: 25%;
}
#upper{
    position: absolute;
    left: 2%;
    top: 46%;
}
#lower{
    position: absolute;
    left: 25%;
    top: 46%;
}
#cw{
    position: absolute;
    left: 44%;
    top: 46%;
}
#cp{
    position: absolute;
    left: 2%;
    top: 50%;
}
#reverse{
    position: absolute;
    left: 29%;
    top: 50%;
}
#replace{
    border: gray solid 1px;
    background-color: rgb(83, 83, 83);
    color: white;
    width: 50%;
    height: 3%;
    position: absolute;
    left: 3%;
    top: 55%;
    font-size: 60%;
    border-radius: 8px;
}#this{
    width: 20%;
    position: absolute;
    left: 12%; 
    top: 35%;
}#for{
    width: 20%;
    position: absolute;
    left: 55%;
    top: 35%;
}
#AO{
    position: absolute;
    top: 60%;
    left: 20%;
}
#replace_button{
    position: absolute;
    top: 55%;
    left: 54%;
}
#size{
    position: absolute;
    top: 15%;
    left: 25%;
}
#family{
    position: absolute;
    top: 37%;
    left: 32%;
}
#other{
    position: absolute;
    top: 57%;
    left: 20%;
}
.ex{
    color: black;
}

/*                                                                           ADVANCED OPTIONS*/

.ao_estructure{
    border: gray solid 1px;
    height: 20%;
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
    color: white;
}
#ao_display{
    display: none;
    position: absolute;
    left: 5%;
    top: 65%;
    width: 50%;
}

/*                                                                          ABOUT        */

.about_{
    height: 10%;
    width: 50%;
    border: gray solid 1px;
    color: white;
}
#about{
    position: absolute;
    top: 68%;
    left: 5%;
}

/*                                                                          COMPATIBILIDADE     */

@media only screen and (max-width: 600px) {
    .rest{
        font-size: 100%;
    }
    #paste{
        left: 40%;
    }
    #char{
        left: 42%;
    }
    .button{
        font-size: 80%;
    }
    #lower{
        left: 38%;
    }
    #cw{
        top: 50%;
        left: 45%;
    }
    #reverse{
        top: 54%;
        left: 2%;
    }
    #replace{
        top: 60%;
    }
    #this{
        left: 24%;
        height: 30%;
    }
    #for{
        left: 65%;
        height: 30%;
    }
    #replace_button{
        top: 60%;
    }
    #AO{
        top: 64%;
    }#ao_display{
        top: 67.5%;
        width: 80%;
    }
    #about{
        width: 85%;
    }
    #size{
        top: 12%;
        left: 30%;
    }
    #family{
        top: 34%;
        left: 40%;
    }
    #other{
        top: 54%;
        left: 23%;
    }
}
@media only screen and (min-width: 1000px) {
    .rest{
        font-size: 150%;
    }
    #paste{
        left: 20%;
    }
    #config{
        font-size: 250%;
    }
    #lower{
        left: 20%;
    }
    #cw{
        left: 35%;
    }
    #reverse{
        left: 25%;
    }
    #size{
        top: 12%;
        left: 20%;
    }
    #family{
        top: 34%;
        left: 25%;
    }
    #other{
        top: 54%;
        left: 15%;
    }
    .ex{
        font-size: 18px;
    }
}
@media only screen and (min-width: 2000px) {
    .rest{
        font-size: 300%;
    }
    #config{
        font-size: 600%;
    }
    .ex{
        font-size: 30px;
    }
}

/*                                                                       SCROLL*/

::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 248); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #0055ff; 
  }
  